
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contenedor{
  background: brown;
  display: flex;
 flex-direction: column;
  margin: 0 auto;
}

.navegacion li{
  list-style: none;
  color:#ffffff;
  margin: 8px;
  
}


.logo{
  align-self: center;
}



nav{	/*submenu*/
background-color: green;
  width: 350px;
 height: 250px; 
display: none;  /*desaparece el submenu*/
position: absolute;
right:100px;
}


.submenu:hover nav{
display: block;	/*aparece el menu*/
position: absolute;
}

ul{
  display: flex;
}



@media screen and (min-width: 768px){
.contenedor{
  flex-direction: row;
  /*justify-content: space-between;*/
  justify-content: space-around;
}

}

@media screen and (max-width: 458px){
.submenu{
      /* display: flex; */
      align-self: center;
  width: 235px;
   position:absolute;
  left: 200px;  
}
  .carrito{
      position: absolute;
      left: 300px;
  }

  .contenedor{
/*   height: 80px; */
  padding: 10px;
  }
}