*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: aqua;
  width: 100%;
  height: 80px;
  padding: 20px 0 0 0;
}

.logo{
  width: 150px;
  height: 40px;
}

.menu{
  list-style: none;
  background: yellow;  /*cambiocentro*/
  width: 35px;
  height: 29px;
  /* display: flex;
  flex-direction: row-reverse; cambios*/           
}

.menu ul li {
  list-style: none; 
  font-family: 'poppins';     
}

.container{   /*posicion del logo y el carrito*/
  display: flex;
 justify-content:space-around; /* space-around */
 /*  background-color: blueviolet;*/
} 

ul{
  list-style: none;      
  font-family: 'Poppins', sans-serif;
}

.submenu {
  display: flex;
  flex-direction:row;
  visibility: hidden;   /* oculto */ 
}

.submenu li{
  width: 300px;
  background-color: red;
  padding: 12px;
}



.caja{
  background-color: darkgreen;    /*ojo*/
  width: 350px;
  height: 400px;
  visibility: hidden; /*oculto caja*/
} 

.menu li:hover .caja{   /*se asigna al final la clase a aplicar efecto*/
  visibility:visible ;
}


.menu li:hover .submenu {
 visibility:visible ; /*visible*/
}

@media (max-width:400px){

  .container{
      display: flex;
      flex-direction: column;
    justify-content: center; 
      margin: auto;
  }
  header{             /* asigno el alto del header */
      height: 120px;
      display: flex; 
  }
   .menu{             /* Centro el carrito */
      margin:auto;
  } 
  .submenu{
      justify-content: center; /* Centro el submenu del carrito */
  }
}
